#![enable(implicit_some)]
Prefab(
    entities: [
        // Lola
        PrefabEntity(
            data: AnimationPrefabData(
                // SpriteScenePrefab
                sprite_scene: (
                    // SpriteSheetPrefab
                    sheet: Sheet(
                        // TexturePrefab
                        texture: File(
                            "texture/lola.png",
                            Png,
                            TextureMetadata(channel: Srgb),
                        ),
                        sprites: [
                            // Sprites with indexes from 0 to 23
                            Grid((
                                texture_width: 192,
                                texture_height: 128,
                                columns: 6,
                                rows: 4,
                                cell_size: (32, 32),
                            )),
                        ],
                        // optional
                        name: "lola",
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "lola",
                        sprite_number: 0,
                    ),
                    // Transform
                    transform: (
                        translation: (0.0, 0.0, 0.0),
                    ),
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            // AnimationId
                            Idle,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Walk,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        )
                    ],
                ),
            ),
        ),
    ],
)
