(
    axes:{
        "x_move": Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
        "y_move": Emulated(
            pos: Key(W),
            neg: Key(S),
        ),
    },
    actions:{
        "jump": [ [Key(Space)] ],
    },
)
